
-- Patients on anti-coagulation
SELECT distinct [patient_id]
  FROM [RobsDatabase].[dbo].[tsftRequest]
  where (
	src_comments like '%arfarin%' OR 
	src_comments like '%eparin%' OR
	src_comments like '%nti%oagulation%')
	;